<% if @receipts.size > 0 %>
  <table caption="receipts">
    <thead>
      <tr>
        <th>Qty</th>
        <th>Product Name</th>
        <th>Price</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td colspan=3>Total receipts <%= @receipts.count %></td>
      </tr>
    </tfoot>

    <tbody>
      <% @receipts.each do |receipt| %>
        <tr>
          <% receipt.purchases.each do |item| %>
            <tr>
              <td><%= item.quantity %></td>
              <td><%= item.product.imported? ? "Imported #{item.product.name}" : item.product.name %></td>
              <td><%= item.total %></td>
            </tr>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
